.list {
    background-color: #D5CCFF;
    border-radius: 15px;
    margin: 1em; 
    min-width: 20em;
    
    ol {
        padding: 5px;
        display: flex;
        flex-direction: column;

        li { 
            list-style-type: none;
            padding: 1em;
            margin: 0.5em;
            background-color: #F5F2FF;
            border-radius: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            

            input[type=checkbox]:checked + span {
                text-decoration: line-through;
            }

            span {
                margin-left: 0.5em;
            }

            input[type=text] {
                border: none;
                background-color: #F5F2FF;
                padding: 0.5em;
                outline: none;
                font-size: 1em;
                margin: 0;
                
            }

            .delete-icon {
                color: #402E96;
            }
        }
    }
}

.validate-icon {
    color:  #402E96;

}

