.list {
    background-color: #D5CCFF;
    border-radius: 15px;
    margin: 1em; 
    min-width: 15em;
    
   &-header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        margin: 0 0.5em;
        padding: 0.5em;
        padding-bottom: 0;
        color: #402E96;

        h2 {
            font-size: 2em;
        }

    }

    ol {
        padding: 5px;
        display: flex;
        flex-direction: column;

        li { 
            list-style-type: none;
            padding: 1em;
            margin: 0.5em;
            background-color: #F5F2FF;
            border-radius: 15px;

            span {
                margin-left: 0.5em;
            }
        }
    }
}

